@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Onest:wght@100..900&family=Outfit:wght@100..900&display=swap");

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Onest", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

.containerMax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #fde6f2;
  background-image: radial-gradient(
      at 27% 9%,
      rgba(249, 214, 232, 0.1) 0%,
      transparent 40%
    ),
    radial-gradient(at 21% 86%, rgba(225, 187, 217, 0.1) 0%, transparent 30%),
    radial-gradient(at 97% 88%, rgba(200, 170, 205, 0.4) 0%, transparent 30%),
    radial-gradient(at 20% 20%, rgba(158, 167, 204, 0.2) 0%, transparent 20%),
    radial-gradient(at 90% 90%, rgba(158, 167, 204, 0.2) 0%, transparent 20%);
}

.containerMax .nav {
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  padding-inline: 30px;
}

.nav .logo {
  display: flex;
  position: relative;
  width: fit-content;
  height: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #464646;
  font-family: "Outfit";
  font-weight: 400;
  font-size: 17px;
}

.nav .profile {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 40%;
  background-color: #cccccc50;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #cccccc80;
    transform: translateY(-3px);
  }
}

.containerMax .mainContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  background-color: transparent;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.mainContainer .responseContainer {
  display: flex;
  width: 100%;
  height: calc(100% - 100px);
  position: relative;
  background-color: transparent;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  animation: eeonIn 0.3s ease-in-out;
}

@keyframes eeonOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes eeonIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes eeonChatIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.mainContainer .responseContainer .chat {
  display: none;
  max-width: 700px;
  min-width: 600px;
  height: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 0px;
  padding-top: 40px;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.responseContainer .chat .userPromptContainer {
  display: flex;
  position: relative;
  background-color: transparent;
  height: fit-content;
  min-width: 530px;
  align-items: center;
  justify-content: end;
  margin-bottom: 12px;
  flex-direction: row;
  animation: eeonChatIn 0.3s ease-in-out;
}

.userPromptContainer .userPrompt {
  display: flex;
  position: relative;
  background-color: #464646;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 15px;
  font-size: 13px;
  color: #ffffffee;
  max-width: 300px;
  white-space: pre-wrap; /* Preserves spaces and line breaks */
  word-wrap: break-word; /* Prevents overflow */
  font-family: "Onest", sans-serif;
}

.responseContainer .chat .aiPromptContainer {
  display: flex;
  position: relative;
  background-color: transparent;
  height: fit-content;
  min-width: 500px;
  margin-bottom: 12px;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  animation: eeonChatIn 0.3s ease-in-out;
}

.aiPromptContainer .logo {
  display: flex;
  position: absolute;
  width: 40px;
  top: 0;
  height: 40px;
  background-color: transparent;
  align-items: start;
  justify-content: start;
  margin-right: 10px;
}

.aiPromptContainer .aiPrompt {
  display: flex;
  position: relative;
  background-color: #faf7fa;
  margin-left: 50px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 15px;
  font-size: 13px;
  color: #9a9096;
  white-space: pre-wrap; /* Preserves spaces and line breaks */
  word-wrap: break-word; /* Prevents overflow */
  max-width: 400px;
  font-family: "Onest", sans-serif;
}

.ai-message code {
  background-color: transparent;
  padding: 2px 5px;
  border-radius: 4px;
  max-width: 400px;
  font-family: "Fira Code", monospace;
  white-space: pre-wrap; /* Preserves spaces and line breaks */
  word-wrap: break-word; /* Prevents overflow */
}

.ai-message pre {
  background-color: #d2d2d230;
  border-radius: 50px;
  color: #464646;
  padding: 10px;
  max-width: 370px;
  white-space: pre-wrap; /* Preserves spaces and line breaks */
  word-wrap: break-word; /* Prevents overflow */
  border-radius: 5px;
  overflow-x: hidden;
}
.mainContainer .responseContainer .top {
  display: flex;
  padding-top: 20px;
  width: 100%;
  height: fit-content;
  position: relative;
  background-color: transparent;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.top .logo {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-bottom: 30px;
}
.top .textTop1 {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  font-size: 35px;
  color: #9a9096;
  font-weight: 500;
  text-align: center;

  line-height: 1em;
}

.top .textTop2 {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  font-size: 35px;
  color: #464646;
  text-align: center;
  line-height: 1em;
  font-weight: 500;
  margin-bottom: 20px;
}
.top .textBottom {
  display: flex;
  position: relative;
  width: 450px;
  height: fit-content;
  text-align: center;
  font-size: 13px;
  color: #9a9096;
  line-height: 1.4em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.inputContainer {
  display: flex;
  width: 100%;
  height: 100px;
  position: relative;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputBox .trendingBoxContainer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: transparent;
  position: absolute;
  top: -180px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  animation: eeonIn 0.3s ease-in-out;
}

.trendingBoxContainer .box {
  display: flex;
  position: relative;
  width: 155px;
  height: 100%;
  background-color: #ffffff95;
  border-radius: 15px;
  border: 3px solid #d2d2d250;
  align-items: start;
  justify-content: start;
  padding: 13px;
  flex-direction: column;
  cursor: pointer;
  &:hover {
    transform: translateY(-7px);
    /* box-shadow: 0 0px 20px #46464612 */
  }
}

.box .icon {
  display: flex;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 30%;
  background-color: #464646;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 15px;
  color: #faf7fa;
}

.box .textBig {
  width: 100%;
  height: fit-content;
  line-height: 1em;
  font-family: "Outfit";
  color: #464646;
  font-size: 15px;
  margin-bottom: 7px;
}
.box .textSmall {
  width: 100%;
  height: fit-content;
  line-height: 1em;
  font-family: "Outfit";
  color: #9a909699;
  font-size: 12px;
}
.inputContainer .tabs {
  display: flex;
  position: absolute;
  left: 30px;
  width: 40px;
  height: 40px;
  border-radius: 40%;
  background-color: #cccccc50;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #cccccc80;
    transform: translateY(-3px);
  }
}
.inputContainer .inputBox {
  width: fit-content;
  display: flex;
  height: fit-content;
  position: relative;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.inputBox .settings {
  display: flex;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 3px solid #faf7fa;
  background-color: #464646;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;

  &:hover {
    background-color: #333;
    transform: rotate(40deg);
  }
}

.inputBox input {
  width: 475px;
  background-color: #faf7fa;
  border: 1px solid transparent;
  outline: none;
  height: 50px;
  color: #9a9096;
  font-family: "Onest";
  padding-left: 55px;
  padding-right: 105px;
  font-size: 14px;
  border-radius: 100px;
  &::placeholder {
    color: #9a9096;
  }
}
.inputBox .fileButton {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 428px;
  margin: auto;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background-color: #cccccc50;
  align-items: center;
  justify-content: center;
  color: #464646;
  cursor: pointer;

  &:hover {
    background-color: #cccccc80;
    transform: rotate(-30deg);
  }
}
.inputBox .buttonSubmit {
  display: flex;
  position: absolute;
  right: 5px;
  background-color: #e7987a;
  padding-inline: 12px;
  color: #faf7fa;
  height: 42px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  gap: 10px;
  cursor: pointer;

  &:hover {
    background-color: #e18662;
  }
  &:hover svg{
    transform: rotate(-10deg);
  }
}
/* 
.containerMax .sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75px;
  height: 100%;
  background-color: #f7f7f7;
}

.sidebar .top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: transparent;
}

.sidebar .top .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 100%;
  color: #ccc;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

.sidebar .middle {
  display: flex;
  width: 100%;
  height: calc(100% - 75px - 150px);
  background-color: transparent;
  align-items: center;
  justify-tracks: start;
  flex-direction: column;
  padding-top: 25px;
  gap: 15px;
}

.sidebar .middle .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  color: #ccc;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

.sidebar .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background-color: transparent;
  gap: 2px;
}

.sidebar .bottom .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  color: #ccc;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

.containerMax .mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 75px);
  height: 100%;
  background-color: transparent;
}

.mainContainer .chatContainer {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 700px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chatContainer .responseArea {
  display: flex;
  height: calc(100% - 100px);
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: transparent;
}

.responseArea .default {
  width: 100%;
  display: flex;
  position: relative;
  max-height: 100%;
  height: 100%;
  background-color: transparent;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding-top: 75px;
  gap: 30px;
}

.default .textTop {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  text-align: left;
  font-size: 50px;
  line-height: 1.2em;
  background: linear-gradient(90deg, #ff8a00, #ff2e63, #e52e71);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.default .textBottom {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  text-align: left;
  font-size: 50px;
  color: #dedede;
  line-height: 1.2em;
}
.default .cardContainer {
  display: none;
  width: 100%;
  height: 200px;
  min-height: 200px;
  background-color: transparent;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  gap: 20px;
}

.cardContainer .card {
  display: flex;
  width: 185px;
  height: 200px;
  position: relative;
  border-radius: 15px;
  background-color: #f7f7f7;
  padding: 20px;
}

.card .textTop {
  display: flex;
  width: calc(100% - 40px);
  position: absolute;
  top: 20px;
  height: fit-content;
  color: #333;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
}

.default .infoBox {
  display: none;
  position: relative;
  width: 80%;
  margin-top: 20px;
  height: 120px;
  background-color: #f7f7f7;
  border-radius: 13px;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.infoBox .top {
  display: flex;
  width: 100%;
  position: relative;
  height: 60%;
  background-color: transparent;
  padding-right: 30px;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  padding-left: 60px;
  color: #333;
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
}

.infoBox .top .icon {
  display: flex;
  width: 40px;
  height: 40px;
  color: #444;
  position: absolute;
  top: 15px;
  bottom: 0;
  margin: auto;
  left: 20px;
}

.infoBox .buttonCont {
  display: flex;
  width: 100%;
  height: 40%;
  background-color: transparent;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  padding-left: 40px;
  gap: 10px;
}

.buttonCont .button {
  width: fit-content;
  padding-inline: 20px;
  color: #2a2a2b;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ebebeb;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1em;
}
.chatContainer .inputArea {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: transparent;
  gap: 10px;
}

.inputArea .input {
  display: flex;
  position: relative;
  width: 700px;
  max-width: 700px;
  overflow: hidden;
  height: 65px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  flex-wrap: wrap;
}

.inputArea .input .button {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  color: #ccc;
  right: 10px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: #ebebeb;
  }
}

.inputArea .input input {
  width: 100%;
  height: 65px;
  background-color: #f7f7f7;
  border-radius: 100px;
  color: #ccc;
  padding-left: 40px;
  border: 0px solid none;
  outline: none;
  padding-right: 70px;
  font-size: 15.4px;

  &::placeholder {
    color: #ccc;
  }
} */
